# --- Otimização para PyTorch (usado pelo Whisper) ---
# Força a instalação da versão de CPU, que é muito mais leve
--extra-index-url https://download.pytorch.org/whl/cpu

# Framework e Servidor
gunicorn
fastapi
python-multipart

# LangChain e Google AI
langchain
langchain-community
langchain-google-genai
google-generativeai

# Utilitários
python-dotenv
pydantic
requests
aiofiles
PyPDF2

# Processamento de Mídia
pillow
openai-whisper
opencv-python-headless  # <--- OTIMIZADO: Versão sem interface gráfica
numpy
pydub

# Autenticação
python-jose[cryptography]
passlib[bcrypt]
